/*
* RESPONSIVE DESIGN -INDEX AND RESTAURANT PAGE
* Author: Ahmed Olanrewaju - @Ahmzyjazzy-MWS
*----------------------------------------------
*/

/*  all  */
 *, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/*  body,html  */
body,html {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body .box {
	width: 100%;
	flex: 0 1 auto;
}

header,main,nav,section,div,footer {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*  navigation  */
nav {
	padding: 0.4em;
	height: 48px;
	z-index: 1;
}

nav h1 {
	margin: 0.3em auto;
}

/*  images  */
#restaurant-img,
#restaurants-list .restaurant-img {
	width: 100%;
	min-height: 100px;
}

/*  links  */
#restaurants-list li a {
	text-align: left;
    background: #fff;
    color: #607d8b;
    border: 0;
    padding: 0 0;
}

#restaurants-list li a:hover {
	box-shadow: 2px 2px 1px #9e9e9e;
	border: 0;
}

/* typo */
#restaurants-list li h1,
#restaurants-list p,
#restaurants-list li a {
	font-size: 9pt;
}

.filter-options h2 {
	font-size: 11pt;
}
/* RESTAURANT INDEX
* use mostly fluid for restaurant list - to create some margin on
* large screen e.g desktop
*----------------------------------------------------------------
*/

/*  Filter  */
.filter-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.2em 0.2em;
    height: auto;
}

.filter-options h2 {
    display: inline-block;
}

.filter-options .flex-child {
	flex: 0 1 auto;
}

.filter-options select.flex-child {
	border-radius: 0.2em;
}

/*  Restaurant list  */
#restaurants-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 15px 0;
    margin:0;
}

#restaurants-list li {
	width: 25%;
	border: 0; /*override border*/
    border-radius: 2px;
    box-shadow: 5px 5px 5px #9e9e9e9e;
    box-sizing: border-box;
    padding: 10px 0.75em;
}

/*  Restaurant info  */
 .insidee header {
     z-index: 1001;
 }

.inside #footer {
	position: fixed;
	z-index: 1001;
}

/*  below and equal to 400px  */
@media screen and (max-width: 400px) {

	nav h1 a {
		letter-spacing: 3px;
	}

	.filter-options {
	    flex-flow: row wrap;
	}

	.filter-options h2 {
	 	display: none;
	}

	#neighborhoods-select,
	#cuisines-select {
	    flex: 1 1 35%;
	}

	#restaurants-list li {
		width: 100%;
		padding: 0.75em 0.75em;
	}

}

/*  below and equal to 330px  */
@media screen and (max-width: 330px) {
	.filter-options {
	    flex-flow: row nowrap;
	}
}

/*  below and equal to 318px  */
@media screen and (max-width: 312px) {
	.filter-options {
	    flex-flow: row wrap;
	}
}

/*  between 401px and 600px  */
@media screen and (min-width:401px) and (max-width:600px ) {

	.filter-options {
	    flex-flow: row nowrap;
	    justify-content: space-evenly;
	}

	.filter-options h2 {
	    flex: 0 1 100px;
	}

	.filter-options #neighborhoods-select {
	    flex: 1 1 33.33%;
	}

	.filter-options #cuisines-select {
	    flex: 1 1 33.33%;
	}

	#restaurants-list li {
		width: 42%;
		padding: 1em 0.75em;
	}

}

/*  between 601px and 800px  */
@media screen and (min-width:601px) and (max-width:800px) {

	.filter-options {
	    flex-flow: row nowrap;
	}

	#restaurants-list li {
		width: 28%;
	}

}

/*  between 801px and 920px  */
@media screen and (min-width:801px) and (max-width:920px) {

	.filter-options {
	    flex-flow: row nowrap;
	}

	#restaurants-list li {
		width: 29%;
	}

}

/*  between 921px and 1250px  */
@media screen and (min-width:921px) and (max-width:1250px) {

	#restaurants-list {
    	width: 920px;
    	margin: 0 auto;
	}

	#restaurants-list li {
		width: 29%;
	}

}

/*  between 921px and 1200px  */
@media screen and (min-width:921px) and (max-width:1200px) {

	#restaurants-list {
    	width: 920px;
    	margin: 0 auto;
	}

	#restaurants-list li {
		width: 29%;
	}

}

/*  from 1201px upward  */
@media screen and (min-width:1201px) {

	#restaurants-list {
    	width: 1200px;
    	margin: 0 auto;
	}

	#restaurants-list li {
		width: 22%;
	}

}


/* RESTAURANT DETAIL INFO
* use layout shifter to dynamically place map, review, restaurant container
* on diff viewport
* -------------------------------------------------------------------------
*/

@media screen and (max-width: 600px) {

	nav h1 a {
		letter-spacing: 3px;
		font-size: 10pt;
	}

	.inside header,
	.inside #maincontent,
	.inside #footer {
		width: 100%;
		flex: 0 1 auto;
	}

	#breadcrumb {
		width: 100%;
	}

	.inside #maincontent {
		display: flex;
    	flex-flow: row wrap;
	}

	#restaurant-container {
		width: 100%;
		min-height: 200px;
		order: -1;
		padding: 96px 40px 30px;
		background: #f3f3f3;
	}

	.inside #map-container {
		position: relative;
		width: 100%;
		height: 50%;
		top: 0;
		order: 1;
	}

	#reviews-container {
		width: 100%;
		padding-bottom: 0;
	}

	#restaurant-name,
	#reviews-container h2 {
	    font-size: 14pt;
	}

	#reviews-list li {
		width: 100%;
		padding: 7px 20px 20px;
	}

	#reviews-container li p {
		font-size: 11pt;
	}

}
